<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.hellocar.openfire.plugin.PushForwardPlugin</class>


    <name>hcPushForward</name>
    <description>HelloCar Unclaimed Message Forwarding and Offline Message Pushing</description>
    <author>HelloCar</author>
    <version>1.0.0</version>
    <date>2/26/2013</date>
    <minServerVersion>3.7.1</minServerVersion>
    <databaseKey>hcpushforward</databaseKey>
    <databaseVersion>1</databaseVersion>

    <!-- Admin console entries -->

    <adminconsole />
</plugin>